.error {
  color: var(--color-error);
  background: white;
  border: 1px solid var(--color-error);
  border-radius: var(--border-radius-default);
  padding: 0.5em 1em;
  margin: 1em 0;
  font-size: 1em;
}